body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #092B40;
}

.search-div {
	text-align: center;
}

.search-handle {
	width: 20px;
	height: 0;
	border-bottom: 4px solid #D96F32;
	position: relative;
	margin: auto;/*	-ms-transform:rotate(45deg) translateX(1px) translateY(0px);
	-webkit-transform: rotate(45deg) translateX(15px) translateY(0px); */
	transform: translateX(17px)  translateY(72px) rotate(45deg) ;
}

#clear {
	position: relative;
	top: 34px;
	left: 130px;
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: transparent;
	color: #D96F32;
	padding: 0;
	font-weight: bold;
	font-size: 1.4em;
	visibility: hidden;
}

.text-thing {
	margin: auto;
	padding-left: 20p;
	height: 40px;
	border: 4px solid #D96F32;
	border-radius: 25px;
	background-color: transparent;
	color: white;
	outline: none;
}

.text-thing:hover {
	cursor: pointer;
}

.text-circle {
	width: 40px;
}

.text-oval {
	width: 300px;
}

.search-box {
	width: 250px;
	margin-top: 5px;
	outline: none;
	position: relative;
	left: -10px;
	border: 0;
	background-color: white;
	color: white;
	display: none;
}

.check-div {
	color: white;
	visibility: hidden;
}

.auto-check {
}

.start-div {
	text-align: center;
}

.icon-text {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.3em;
}

.random-entry {
	background-color: #AAAAAA;
	color: #092B80;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border: 1px solid gray;
	border-radius: 10px;
}

/* Used only for the JSON tables */

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #e0ffe0;
 }
