body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #092B40;
}

.tall-top {
	height: 200px;
}

.short-top {
	height: 20px;
}

.search-div {
	text-align: center;
}

.search-handle {
	width: 20px;
	height: 0;
	border-bottom: 4px solid #D96F32;
	position: relative;
	margin: auto;
	    -ms-transform: translateX(25px) translateY(-5px) rotate(40deg);
	-webkit-transform: translateX(25px) translateY(-5px) rotate(40deg);
	        transform: translateX(25px) translateY(-5px) rotate(40deg);
}

.x-clear {
	position: relative;
	top: -44px;
	left: 130px;
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: transparent;
	color: #D96F32;
	padding: 0;
	font-weight: bold;
	font-size: 1.4em;
    visibility: hidden;
	z-index: 1;
}

.text-thing {
	margin: auto;
	padding-left: 20p;
	height: 40px;
	border: 4px solid #D96F32;
	border-radius: 25px;
	background-color: transparent;
	color: white;
	outline: none;
}

.text-thing:hover {
	cursor: pointer;
}

.text-circle {
	width: 40px;
}

.text-oval {
	width: 300px;
}

.search-box {
	width: 250px;
	height: 25px;
	font-size: 1em;
	margin-top: 5px;
	outline: none;
	position: relative;
	left: -10px;
	border: 0;
	background-color: transparent;
	color: white;
	visibility: hidden;
}

.ui-autocomplete {
	text-align: left;
}

.start-div {
	text-align: center;
}

.icon-text {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.3em;
}

.random-entry {
	background-color: #AAAAAA;
	color: #092B80;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border: 1px solid gray;
	border-radius: 10px;
}

.results-div {
	margin: auto;
	width: 75%;
}

.search-result {
	background-color: white;
	color: black;
	padding: 1px 10px 5px 10px;
	margin: 5px;
}

.search-result:hover {
	cursor: pointer;
}

.no-border {
	border-left: 5px solid #092B40;
}

.left-border {
	border-left: 5px solid #D96F32;
}

.hidden {
	visibility: hidden;
}

.shown {
	visibility: visible;
}

.disp-none {
	display: none;
}

.disp-block {
	display: block;
}

.widen {
	width: 300px;
	transition: width 1s linear;
}

.narrow {
	width: 40px;
	transition: width 1s linear;
}

/* Used only for the JSON tables */

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #e0ffe0;
 }
