body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #092B40;
}

.search-div {
	text-align: center;
}

.search-icon {
	color: #D96F32;
	font-size: 3em;
}

.icon-text {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.3em;
}

.random-entry {
	background-color: #AAAAAA;
	color: #092B80;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border: 1px solid gray;
	border-radius: 10px;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
}
